.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #0000005e;
}

.modal {
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px #00000015;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.modal .textDiv {
    height: 100%;
}

.modal .buttonDiv {
    display: flex;
    align-items: end;
    justify-content: end;
}

.modal .buttonDiv button {
    width: 70px;
    height: 30px;
}
